$brand-color: #0a2867;
$secondary-brand-color: #4182e4;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);
$signal-purple: #c937ff;
$button-border: #da72ff;
$footer-link-color: #76a2ff;


// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
